<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyb.dao.BookMapper">

    <select id="checkBook" parameterType="com.pyb.vo.BookVO" resultType="int">
        SELECT count(1) FROM book WHERE book_no = #{bookNo}
    </select>
    
    <insert id="insert" parameterType="com.pyb.vo.BookVO">
        INSERT INTO book 
        (title, writer, publisher, publication_year, status)
        VALUES
        (#{title}, #{writer}, #{publisher}, #{publicationYear}, 'READY')
    </insert>
    
    <select id="selectAll" parameterType="com.pyb.vo.BookVO">
    	SELECT * from book
    </select>
    
    
    
</mapper>

